<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448954263976-1q05lbtiidcu7f4fno05p9at3od6fduh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448954263976-1q05lbtiidcu7f4fno05p9at3od6fduh</string>
	<key>API_KEY</key>
	<string>AIzaSyCwKUcnRpVTKMUOijaEY4j6bFHgwB0zph4</string>
	<key>GCM_SENDER_ID</key>
	<string>448954263976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drshnk.mangareader</string>
	<key>PROJECT_ID</key>
	<string>manga-reader-53a5b</string>
	<key>STORAGE_BUCKET</key>
	<string>manga-reader-53a5b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448954263976:ios:98713224b7989a2bf1159d</string>
</dict>
</plist>